<app-header-worker></app-header-worker>
<div class="container">
    <main>
        <form>
            <div class="form-header">
                <a onclick="window.history.back()" class="back-link btn btn-primary">&larr;Mis Envios</a>
            </div>
            <h2>Actualizar estado del envio</h2>
            <table>
                <thead>
                    <tr>
                        <th>Código ID</th>
                        <th>Tipo de paquete</th>
                        <th>Distancia</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>FIG-121</td>
                        <td>Acme GTM</td>
                        <td>5</td>
                        <td>
                            <select id="inputState" class="form-select">
                                <option selected>En camino</option>
                                <option selected>Entregado</option>
                                <option selected>Fallido</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>FIG-122</td>
                        <td>Website launch</td>
                        <td>5</td>
                        <td>
                            <select id="inputState" class="form-select">
                                <option selected>En camino</option>
                                <option selected>Entregado</option>
                                <option selected>Fallido</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>FIG-123</td>
                        <td>Design backlog</td>
                        <td>5</td>
                        <td>
                            <select id="inputState" class="form-select">
                                <option selected>En camino</option>
                                <option selected>Entregado</option>
                                <option selected>Fallido</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>FIG-121</td>
                        <td>Acme GTM</td>
                        <td>5</td>
                        <td>
                            <select id="inputState" class="form-select">
                                <option selected>En camino</option>
                                <option selected>Entregado</option>
                                <option selected>Fallido</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>FIG-121</td>
                        <td>Acme GTM</td>
                        <td>5</td>
                        <td>
                            <select id="inputState" class="form-select">
                                <option selected>En camino</option>
                                <option selected>Entregado</option>
                                <option selected>Fallido</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>FIG-121</td>
                        <td>Acme GTM</td>
                        <td>5</td>
                        <td>
                            <select id="inputState" class="form-select">
                                <option selected>En camino</option>
                                <option selected>Entregado</option>
                                <option selected>Fallido</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center"><button type="button" class="btn btn-warning"><b>Actualizar Estado</b></button>
            </div>
        </form>
    </main>
</div>
<app-footer></app-footer>