
<app-header-worker></app-header-worker>

<div class="container">
    <main>
        <section class="breadcrumb">
          <a href="#"><b>&larr; Documento de Control > Generar</b></a>
        </section>
 
        <section class="control-document">
            <label for="fecha">Ingrese la fecha: </label>
            <input type="text" id="fecha" placeholder="dd/mm/yyyy">
            <button id="generate-btn">Generar</button>
 
            <h2>Documento de Control</h2>
            <p>Documento de Control N° 12345649548798</p>
 
            <table>
                <thead>
                    <tr>
                        <th>Formularios</th>
                        <th># Paquetes</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>F-121</td>
                        <td>3</td>
                        <td>Sábanas</td>
                    </tr>
                    <tr>
                        <td>F-122</td>
                        <td>1</td>
                        <td>Caja</td>
                    </tr>
                    <tr>
                        <td>F-123</td>
                        <td>2</td>
                        <td>Cómoda</td>
                    </tr>
                </tbody>
            </table>
 
            <div class="buttons">
                <button id="cancel-btn">Cancelar</button>
                <button id="print-btn">Imprimir</button>
            </div>
        </section>
    </main>
  </div>
  <app-footer></app-footer>

